<%- include('header') -%>


    <h1 id="heading"> <%= listTitle %> </h1>
    <div class="">
        <% for(let i=0;i<newListItem.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newListItem[i] %> </p>
            </div>
        <% } %>
    </div>
    <form class="form" action="" method="post">
        <input type="text" name="newItem" placeholder="Enter new Task">
        <button type="submit" name="button" value= <%= listTitle %> >Add</button>
    </form>

<%- include('footer') -%>